
body  {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  background-color: #24353f;
}

body .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
    background-color: #24353f;
  }
  .container h1{
    color:  #17A2B8;
  }
.navbar .container-fluid{
 width: 60%; 
}
.navbar .navbar-brand{
  cursor: pointer;
}

.btn{
  font-size: 16px;
    padding: 5px 20px;
    border-color: #ffc107;
    color: #ffffff;
    font-size: 1.25rem;
  }
.btn:hover{
  background-color: #ffc107;
  color: #ffffff;
}
  h1{
    color: black;
    font-size: 3.5rem;
  }